<section class="about-me section" id="about-me-section">
  <div class="container">
    <h2 class="about-header">About <span class="title-span">Me</span></h2>
    <div class="about-desk">
      <picture class="about-photo" data-aos="zoom-in">
        <!--Desktop-->
        <source
          media="(min-width: 1440px)"
          srcset="./img/photo_des+@1x.webp 1x, ./img/photo_des+@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/photo_des@1x.webp 1x, ./img/photo_des@2x.webp 2x"
          type="image/webp"
        />
        <!--Tablet-->
        <source
          media="(min-width: 768px)"
          srcset="./img/photo_tab@1x.webp 1x, ./img/photo_tab@2x.webp 2x"
          type="image/webp"
        />
        <!--Mobile-->
        <img
          srcset="./img/photo_mob@1x.webp 1x, ./img/photo_mob@2x.webp 2x"
          src="./img/photo_mob@1x.webp"
          alt="photo Yulya"
          class="about-photo"
          loading="lazy"
        />
      </picture>
      <div class="about-p">
        <p class="about-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi eaque
          inventore aliquid reprehenderit consequuntur quia odio voluptates
          eveniet rerum optio nobis nulla iure deleniti, fugiat et neque
          repellat cupiditate? Consequuntur!
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          commodi explicabo, aliquid dolor ducimus sint laudantium at harum
          corrupti repellat illo. Ea, quas earum! Sint exercitationem
          consequatur expedita alias id.
        </p>
      </div>
    </div>
  </div>
</section>
