<section class="about-me section" id="about">
  <div class="container">
    <h2 class="about-header">About <span class="title-span">Me</span></h2>
    <div class="about-desk">
      <picture class="about-photo" data-aos="zoom-in">
        <!--Desktop-->
        <!--Tablet-->
        <!--Mobile-->
        <img
          src="/src/img/Yulia/with-microphone.jpg"
          alt="photo Yulya"
          class="about-photo"
          loading="lazy"
        />
      </picture>
      <div class="about-p">
        <p class="about-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi eaque
          inventore aliquid reprehenderit consequuntur quia odio voluptates
          eveniet rerum optio nobis nulla iure deleniti, fugiat et neque
          repellat cupiditate? Consequuntur!
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          commodi explicabo, aliquid dolor ducimus sint laudantium at harum
          corrupti repellat illo. Ea, quas earum! Sint exercitationem
          consequatur expedita alias id.
        </p>
      </div>
    </div>
  </div>
</section>
