<section class="benefits-section" id="benefits">
  <div class="benefits-container container">
    <h2 class="benefits-title">
      <span class="benefits-span-title">Why</span> should you choose
      <span class="benefits-span-title">me</span>
    </h2>
    <div class="container-benefits">
      <ul class="benefits-list">
        <li class="benefits-item">
          <h3 class="benefits-list-title">Title 1</h3>
          <p class="benefits-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            hic nihil debitis distinctio deleniti inventore consectetur, enim,
            impedit minima perferendis repellendus necessitatibus mollitia.
            Mollitia illum voluptatibus ducimus aut praesentium iure.
          </p>
        </li>
        <li class="benefits-item">
          <h3 class="benefits-list-title">Title 2</h3>
          <p class="benefits-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            hic nihil debitis distinctio deleniti inventore consectetur, enim,
            impedit minima perferendis repellendus necessitatibus mollitia.
            Mollitia illum voluptatibus ducimus aut praesentium iure.
          </p>
        </li>
        <li class="benefits-item">
          <h3 class="benefits-list-title">Title 3</h3>
          <p class="benefits-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            hic nihil debitis distinctio deleniti inventore consectetur, enim,
            impedit minima perferendis repellendus necessitatibus mollitia.
            Mollitia illum voluptatibus ducimus aut praesentium iure.
          </p>
        </li>
        <li class="benefits-item">
          <h3 class="benefits-list-title">Title 4</h3>
          <p class="benefits-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            hic nihil debitis distinctio deleniti inventore consectetur, enim,
            impedit minima perferendis repellendus necessitatibus mollitia.
            Mollitia illum voluptatibus ducimus aut praesentium iure.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
