<footer class="footer" id="footer">
  <div class="footer-wrap">
    <h2 class="footer-title">Contact me today to discuss the details</h2>
    <address class="email-address">
      <a
        href="mailto:yzolotarova899@gmail.com"
        target="_blank"
        class="mail-link"
        >yzolotarova899@gmail.com</a
      >
    </address>
    <address class="phone">
      <a href="tel:+447809615403" class="phone">+44 7809 615 403</a>
    </address>

    <address class="socials" data-aos="fade-left">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.instagram.com/yuliya.zolotaryova/"
            target="_blank"
            class="social-li"
          >
            <svg class="social-icon" width="16" height="16">
              <use href="/src/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.facebook.com/yulia.zolotaryova.7"
            target="_blank"
            class="social-li"
          >
            <svg class="social-icon" width="16" height="16">
              <use href="/src/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</footer>
