<section class="gallery-section section">
  <h2 class="gallery-hidden">Gallery</h2>
  <div class="content-gallery">
    <ul class="marquee-inner">
      <li class="marquee line_1">
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Couples/couple_5westminster.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Couples/couple_5westminster.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Couples/couple_5westminster.jpg"
            alt="westminster"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/mension.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/mension.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/mension.jpg"
            alt="mension"
            width="282"
            loading="lazy"
          />
        </picture>

        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/atmo-dance.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/atmo-dance.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/atmo-dance.jpg"
            alt="shard"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Couples/couple_7shard.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Couples/couple_7shard.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Couples/couple_7shard.jpg"
            alt="couple"
            width="282"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="marquee line_2">
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Couples/couple_3.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Couples/couple_3.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Couples/couple_3.jpg"
            alt="couple"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Couples/couple_5.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Couples/couple_5.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Couples/couple_5.jpg"
            alt="couple"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Couples/couple_2.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Couples/couple_2.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Couples/couple_2.jpg"
            alt="couple"
            width="282"
            loading="lazy"
          />
        </picture>

        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/custle.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/custle.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/custle.jpg"
            alt="custle"
            width="282"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="marquee line_3">
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/atmo-inside.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/atmo-inside.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/atmo-inside.jpg"
            alt="dance"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/arch.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/arch.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/arch.jpg"
            alt="cover-make-up"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/guests-outside.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/guests-outside.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/guests-outside.jpg"
            alt="cover-make-up"
            width="282"
            loading="lazy"
          />
        </picture>
        <picture class="marquee__line">
          <source
            class="gallery-image"
            srcset="../img/Atmosphere/shard.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="../img/Atmosphere/shard.jpg"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-image"
            src="../img/Atmosphere/shard.jpg"
            alt="cover-make-up"
            width="282"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
