<header class="header">
  <div class="header-section">
    <nav class="header-nav">
      <a class="header-nav" href="../index.html">
        <div class="logo-box">
          <img
            src="/src/img/YuliyaLogo.jpg"
            loading="lazy"
            alt="logo"
            class="logo"
          />
        </div>
      </a>

      <ul class="list-links">
        <li><a class="links" href="./about.html">About me</a></li>
        <li><a class="links" href="./benefits.html">Benefits</a></li>
        <li><a class="links" href="./gallery.html">Gallery</a></li>
        <li><a class="links" href="./reviews.html">Reviews</a></li>
        <li><a class="links" href="./">contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
