<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-text-part">
      <h1 class="main-title">
        Yuliya <span class="main-title-span">Zolotaryova</span> Event Host
      </h1>
      <p class="hero-text">
        Celebrate Every Moment! From breathtaking weddings to unforgettable
        events, let’s transform your dreams into reality! ✨ Your special day
        deserves to be magical — filled with joy, laughter, and cherished
        memories. Don’t wait — contact me today and let’s start planning the
        celebration of a lifetime! ❤️
      </p>

      <address class="mail-address" data-aos="fade-left">
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/yuliya.zolotaryova/"
              target="_blank"
              class="social-li"
            >
              <svg class="social-icon" width="16" height="16">
                <use href="/src/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.facebook.com/yulia.zolotaryova.7"
              target="_blank"
              class="social-li"
            >
              <svg class="social-icon" width="16" height="16">
                <use href="/src/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="tel:+447809615403" class="phone">
              <svg class="social-icon" width="16" height="16">
                <use href="/src/img/icons.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="mailto:yzolotarova899@gmail.com"
              target="_blank"
              class="mail-link"
            >
              <svg class="social-icon" width="16" height="16">
                <use href="/src/img/icons.svg#icon-mail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="hero-picture-part">
      <img src="/src/img/hero.jpg" alt="hero image" class="hero-image" />
    </div>
  </div>
</section>
