<div class="mob-menu mob-container is-hidden" data-modal>
  <div class="top-div">
    <button
      class="close_menu_btn"
      aria-label="button close menu"
      data-menu-close
      type="button"
    >
      <svg class="icon-btn-menu">
        <use href="/src/img/symbol-defs.svg#icon-times"></use>
      </svg>
    </button>
  </div>
  <nav class="mob-nav">
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-anchor link" href="#about">About</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-anchor link" href="#benefits">Benefits</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-anchor link" href="#gallery">Gallery</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-anchor link" href="#reviews">Reviews</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-anchor link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
