<div class="mob-menu mob-container is-hidden" data-modal>
  <div class="top-div">
    <button
      class="close_menu_btn"
      aria-label="button close menu"
      data-menu-close
      type="button"
    >
      <svg class="icon-btn-menu">
        <use href="/src/img/symbol-defs.svg#icon-times"></use>
      </svg>
    </button>
  </div>
  <nav class="mob-nav">
    <ul class="mob-menu-list">
      <li><a class="links" href="#about">About</a></li>
      <li><a class="links" href="#benefits">Benefits</a></li>
      <li><a class="links" href="#gallery">Gallery</a></li>
      <li><a class="links" href="#reviews">Reviews</a></li>
      <li><a class="links" href="#contacts">Contacts</a></li>
    </ul>
  </nav>

  <a class="order-btn-menu" href="#work-together">Order the project</a>
</div>
