<section class="reviews">
  <div class="container-reviews">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 1</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image2.jpg" alt="Person 2" />
            </picture>
            <h3 class="person-name">Someone 2</h3>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            consectetur ea voluptatum, assumenda neque quia placeat repellendus
            possimus explicabo aliquid beatae distinctio, perferendis, excepturi
            dolor cum minima natus ratione non? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. In placeat hic nostrum beatae
            recusandae perferendis maxime autem cupiditate, dolorum accusantium
            nobis fugiat sapiente eum quasi modi aperiam, nesciunt mollitia
            laborum.
          </p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 3" />
            </picture>
            <h3 class="person-name">Someone 3</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 4" />
            </picture>
            <h3 class="person-name">Someone 4</h3>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 5" />
            </picture>
            <h3 class="person-name">Someone 5</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 6" />
            </picture>
            <h3 class="person-name">Someone 6</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 7" />
            </picture>
            <h3 class="person-name">Someone 7</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <!-- Додайте більше слайдів за потреби -->
      </div>
      <div class="button-box">
        <button class="button-prev" type="button">
          <svg class="icon icon-arrow-left2" width="24" height="24">
            <use href="img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="button-next" type="button">
          <svg class="icon icon-arrow-right2" width="24" height="24">
            <use href="img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<script type="module" src="./js/reviews.js"></script>
