<section class="reviews">
  <div class="container-reviews">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 1</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <!--  -->
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 2</h3>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nulla
            sit nesciunt, cumque iste quisquam vel repellendus quia quam facere
            deleniti quidem esse eius facilis ratione ducimus debitis placeat
            veniam.
          </p>
        </div>

        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 3</h3>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
            consectetur optio temporibus aliquid eius architecto nobis veritatis
            quas quasi facilis rerum ea harum numquam dignissimos, ad delectus,
            culpa odio obcaecati. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Perspiciatis iure, accusantium enim, quo sed in
            asperiores optio autem ipsum sint dignissimos sapiente reiciendis
            eius neque deserunt quasi qui, excepturi animi?
          </p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 4</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 5</h3>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
            consectetur optio temporibus aliquid eius architecto nobis veritatis
            quas quasi facilis rerum ea harum numquam dignissimos, ad delectus,
            culpa odio obcaecati. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Perspiciatis iure, accusantium enim, quo sed in
            asperiores optio autem ipsum sint dignissimos sapiente reiciendis
            eius neque deserunt quasi qui, excepturi animi?
          </p>
        </div>
        <div class="swiper-slide review-card">
          <div class="review-card-couple">
            <picture>
              <img src="path/to/image1.jpg" alt="Person 1" />
            </picture>
            <h3 class="person-name">Someone 6</h3>
          </div>
          <p class="review-text">I am very pleased that I decided to...</p>
        </div>
      </div>
      <div class="button-box">
        <button class="button-prev" type="button">
          <svg class="icon icon-arrow-left2" width="24" height="24">
            <use href="img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="button-next" type="button">
          <svg class="icon icon-arrow-right2" width="24" height="24">
            <use href="img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
