 .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 382px;
    background-image: linear-gradient(to right,
     rgb(237, 233, 237),
     rgba(206, 140, 208, 0.7));
 }

 .footer-wrap {
    max-width: 1260px;
    margin: 10px auto;
    padding-left: 20px;
 }

 .footer-title {
    width: 100%;
        margin-bottom: 32px;
        color: rgba(4, 4, 4, 0.6);
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.32px;
        text-transform: uppercase;
 }