/* Phone devices */
.hero-section {
  margin: 10px auto;
}

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero-container {
  background-color: bisque;
  border-radius: 20px;
}
.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
}

/* Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    overflow: hidden;
  }

  .hero-image {
    object-position: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
  }
}

/* Desktop devices */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1140px;
  }
.hero-container {
  display:flex;
}
  .hero-image {
    width: 100%;
    height: 600px;
    opacity: 70%;
  }
}
